.sidebar{
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.sidebar ul li{
    padding: 30px;
}

.sidebar ul li a{
    text-decoration: none;
}